.users__btn {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.users__btn button {
    height: 100px;
    width: 300px;
}

.avatar {
    width: 130px;
    border-radius: 50%;
}

.avatar__wrapper {
    text-align: center;
}

.wrapper {
    display: flex;
    max-width: 800px;
    justify-content: space-around;
    padding: 20px;
}

.card__status {
    font-size: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    border: 1px;
    border-radius: 0.4em;
}

.card__name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__name_status {
    font-size: 1.2em;
}

.card__location {
    text-align: right;
    padding-right: 5px;
}

.card__location_country {
    padding-bottom: 5px;
}

.pageNumbers {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.currentPage {
    font-weight: bold;
    font-size: 1.2em;
}


