.header {
    width: 1200px;
    background-color: #405898;
    display: flex;
    justify-content: space-between;
}

.header__logo img {
    max-height: 60px;
}

.login {
    font-size: 24px;
    align-self: center;
    margin: 0 10px 0 0;
}