.navbar {
    background-color: rgba(64,88,152, 0.6);
    height: 600px;
    width: 200px;
    margin-right: 10px;
}

.navbar__item {
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 24px;
}