.error textarea,
.error input  {
    border: 2px solid red;
}

.errorSpan {
    color: red;
}

.commonError {
    border: 2px solid red;
    padding: 10px;
    width: 300px;
    font-weight: bold;
    color: red;
}