
.profile__img {
    display: block;
}


.profile__img img {
    height: 300px;
    margin-top: 20px;
}

.description *{
    margin: 5px;
}

.description {
    margin: 0 0 40px 0;
}

.profile__imgLogo {
    text-align: center;
}


