.dialogName {
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
}

.name {
    width: 30px;
    color: blanchedalmond;
    border: 2px solid darkblue;
    padding: 7px 25px;
    border-radius: 0.4em;
}