@import "./common/scss/variables";

*, ::after, ::before {
    box-sizing: border-box;
    font-family: $primaryFont;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.appWrapper {
    display: flex;
    margin-top: 10px;
}

.appMain{
    display: block;
    width: 75%;
    margin-left: 300px;
    margin-top: 68px;

}