.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.app-inner {
    display: flex;
    margin-top: 10px;
}

.app-inner-content {
    background-color: #405898;
    width: 1000px;
}