.dialogs {
    display: flex;
    justify-content: space-around;
}

.dialogs__button {
    background-color: cornflowerblue;
    color: white;
}

.title {
    font-size: 56px;
    text-align: center;
}

.dialogsContainer{
    display: flex;
    justify-content: space-between;
}